<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="{{ app.request.basepath }}/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/scripts/main.css" rel="stylesheet">
</head>
<body>

<form name="myForm" id="testForm" action="/index.php/submit" role="form" method="post">
    <label for="FirstName">First Name</label>
    <input name="FirstName" type="text" id="FirstName" class="form-control">
    <label for="LastName">Last Name</label>
    <input name="LastName" type="text" id="LastName" class="form-control">
    <label name="Agree" for="Agree">Do you agree</label>
    <input type="checkbox" id="Agree" class="form-control">
    <input name="Submit" type="submit" >
</form>

<script src="{{ app.request.basepath }}/vendor/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>