{% extends 'layout.html.twig' %}

{% block content %}
<form name="myForm" id="testForm" action="/index.php/submit" role="form" method="post">
    <label for="FirstName">First Name</label>
    <input name="FirstName" type="text" id="FirstName" class="form-control">
    <label for="LastName">Last Name</label>
    <input name="LastName" type="text" id="LastName" class="form-control">
    <label name="Agree" for="Agree">Do you agree</label>
    <input type="checkbox" id="Agree" class="form-control">
    <input name="Submit" type="submit" >
</form>
{% endblock %}
