{% extends 'layout.html.twig' %}

{% block content %}
<div class="starter-template">
    <h1>Hello Joe</h1>
    <p class="lead">Copied this from the bootstrap site </br> Bootstrap is a frontend framework for quickly styling and adding functionality </br> to pages and such.</p>
</div>
{% endblock %}