{% extends 'layout.html.twig' %}

{% block content %}
<form name="myForm" id="testForm" action="/index.php/submituser" role="form" method="post">
    <label for="FirstName">First Name</label>
    <input name="FirstName" type="text" id="FirstName" class="form-control">
    <label for="LastName">Last Name</label>
    <input name="LastName" type="text" id="LastName" class="form-control">
    <label for="Address1">Address1</label>
    <input name="Address1" type="text" id="Address1" class="form-control">
    <label for="Address2">Address2</label>
    <input name="Address2" type="text" id="Address2" class="form-control">
    <label for="Address3">Address3</label>
    <input name="Address3" type="text" id="Address3" class="form-control">
    <label for="Email">Email</label>
    <input name="Email" type="text" id="Email" class="form-control">
    <label for="Phone">Phone</label>
    <input name="Phone" type="text" id="Phone" class="form-control">
    <input name="Submit" type="submit" >
</form>
{% endblock %}
